@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Was Unsuccessful</h1><br />
        <img src="~/images/error.png" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your payment did not go through! <br />
        Please navigate to your order and try again with a different payment method!
        <br />
        Your Order Number is : @Model
    </div>
</div>

